[Desktop Entry]
Comment=JELVIS
Exec=bash /usr/bin/jelvis
Icon=/usr/share/icons/jelvis.png
MimeType=x-scheme-handler/tg;
Name=JELVIS
StartupWMClass=JELVIS
Terminal=false
Type=Application
Version=1.0
